@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto:wght@300;400;500;700&display=swap");
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1rem;
}

body:before {
  content: "";
  background: url("c501c8d1-c1be-41f7-89fc-dbbd50fd6090.jpg") no-repeat center
    center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.CarouselImage {
  max-width: 100%;
  height: 600px;
  /* over-flow: hidden; */
  object-fit: cover;
}
.navlink {
  text-decoration: none;
  color: white;
}

/* .navlink {
  color: #fff;
}
.navlink:hover {
  color: #a9a9a9;
} */
.TwClickable {
  color: #fff;
}
.Fs8 {
  font-size: 0.8rem;
}
.TwClickable:hover {
  color: #a9a9a9;
}
.lessImportant {
  color: #a9a9a9;
}
.logout {
  color: #a9a9a9;
}
.logout:hover {
  color: darkred;
}
.login {
  color: #a9a9a9;
}
.login:hover {
  color: lightskyblue;
}
.ombra {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.31);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.31);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.31);
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
/* .mb-8 {
  margin-bottom: 5rem;
  margin-top: 29.5rem;
} */
.bg-scuro {
  background-color: rgb(27, 28, 31);
}
.box-page {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.logoTitle {
  font-size: 1.6rem;
  font-weight: bold;
}
.playerButtons {
  background: none;
  color: inherit;
  border: none;

  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.bg-container {
  height: 5.5rem;
  /* background-color: #282828; */
}

.playerControls div {
  justify-content: space-between;
}

.playerControls div:first-of-type {
  margin-left: 10%;
  margin-right: 10%;
}

.playerControls a img {
  width: 14px;
  margin-top: 1rem;
  filter: brightness(60%);
}

.playerControls a:hover {
  filter: brightness(80%);
  color: #282828 !important;
}

.progress {
  color: white;
  background-color: #fff;
  height: 1.5px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .playerControls div:first-of-type {
    margin-left: 25%;
    margin-right: 25%;
  }
}
