body {
  background: black;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  /* padding-top: 50px; */
}
/* @media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
    padding-bottom: 0px;
  }
} */

.CarouselImage {
  max-width: 100%;
  height: 600px;
  /* over-flow: hidden; */
  object-fit: cover;
}
.navlink {
  text-decoration: none;
  color: white;
}

/* .navlink {
  color: #fff;
}
.navlink:hover {
  color: #a9a9a9;
} */
.TwClickable {
  color: #fff;
}
.Fs8 {
  font-size: 0.8rem;
}
.TwClickable:hover {
  color: #a9a9a9;
}
.lessImportant {
  color: #a9a9a9;
}
